export GOROOT=/usr/local/go
export GOPATH=$GOROOT/bin/go
export PATH=$GOROOT/bin:$PATH

# must install go via
go version
if ! [ "$?" -eq "0" ]
then
    echo "Install Go https://go.dev/doc/install"
    exit 1
fi

golangci-lint --version
if ! [ "$?" -eq "0" ]
then
    # installed golang-lint via brew due to error /usr/local/go/bin/go not a directory (is a file)
    # if ! golangci-lint --version; then
    #     echo "Installing golangci-lint"
    #     # binary will be $(go env GOPATH)/bin/golangci-lint
    #     curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.59.1
    # fi
    echo "Install Go Linter with `brew install golangci-lint` or preferred method"
    exit 1
fi

# must have the following in shell config:
# use_nodejs() {
#     # version specified in .nvmrc, packages specified in package-lock.json
#     type nvm >/dev/null 2>&1 || . ~/.nvm/nvm.sh
#     nvm use
#     npm install
# }

use nodejs

echo "npm version:" && npm --version

# brew install pre-commit
pre-commit install
